[Desktop Entry]
Name=VarAC
GenericName=VarAC
Comment=Chat Program
Exec=/usr/bin/wine $HOME/.wine/drive_c/VarAC/VarAC.exe
Icon=
Terminal=false
Type=Application
Categories=Network;HamRadio;"""